$offBlack: #767676;
$blue: #8DC3FF;
$red: #FF1111;
@import "../../../node_modules/normalize-scss/sass/_normalize.scss";
@include normalize();
@import './fonts.scss';
@import './map.scss';
@import "./popup.scss";

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type=text] {
  font-family: 'Quattrocento Sans', sans-serif;
}

::placeholder {
  font-family: 'Quattrocento Sans', sans-serif;
  color: $blue;
  opacity: 1;
}

:-ms-input-placeholder {
  font-family: 'Quattrocento Sans', sans-serif;
  color: $blue;
}

::-ms-input-placeholder {
  font-family: 'Quattrocento Sans', sans-serif;
  color: $blue;
}
