

.popup {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 2em;
  margin: 5px;
  width: calc(100% - 10px);
  min-width: 240px;
  display: block;
  height: 250px;

  .popup__name {
    margin-left: 5px;
    float: left;
    width: calc(100% - 10px);
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid $offBlack;
    color: $blue;
  }





  .popup__images {
    margin-top: 30px;
    margin-left: 6px;
    float: left;
    padding: 10px 15px;
    width: calc(33% - 38.5px);
    border: 1px solid $offBlack;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }

  .popup__images--active {
    border: 1px solid $blue;
  }

  .popup__button {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.1em;
    border: 1px solid $offBlack;
    margin-top: 25px;
    margin-left: 5px;
    float: left;
    width: calc(100% - 10px);
    color: $offBlack;
    padding-top: 4px;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
      color:$red;
    }
  }
}
